<!doctype html>
<html>
<head>
    <title>NLP explainer</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Explainer for NLP classifier</h1>
    <div class="container">
        <form action="/result" method="post" >
            <dl>
                <dd>Enter your text:<input type=text name="entry"></dd><br>
                <dd>Number of samples for LIME explainer: (For really long input text, go up to 5000)
                    <input type=text name="n_samples" value="1000"></dd><br>
                <dd>Choose classifier:
                    <select name="classifier">
                        <option value="svm">Support Vector Machine</option>
                        <option value="logistic">Logistic Regression</option>
                        <option value="fasttext">FastText</option>
                        <option value="vader">VADER</option>
                        <option value="textblob">TextBlob</option>
                    </select>
                </dd><br>
                <dd><input type=submit value="Explain results!"></dd> 
            </dl>
        </form>
    </div>
</body>
</html>
